a {
  text-decoration: none;
}

main {
  margin-top: 80px;
}

body {
  background-color: #e6e2df;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 4.5rem;
}

h2 {
  font-family: "Silkscreen", cursive;
  font-size: 2rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

h3 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 2rem;
}

span {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 0.8rem;
}

.bi-list {
  font-size: 32px;
  color: #e6e2df;
}

.bi-bag-heart {
  font-size: 28.8px;
  padding-left: 35.2px;
}

.nav__bag {
  color: #e6e2df;
}
.nav__bag:hover {
  color: #ec75cf;
}
.nav__img {
  height: 64px;
  width: 64px;
  padding: 0;
  margin: 0;
  border: 0;
}

.navbar {
  --bs-navbar-padding-y: 8px;
  background-color: #2a2828;
}

.border-bottom {
  --bs-border-color:#c097ea;
  --bs-border-width:3px;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  --bs-nav-link-color: #e6e2df;
  --bs-navbar-active-color:#c097ea;
}
.nav-link:hover {
  color: #ec75cf;
}

.active {
  border-bottom: 1px solid #c097ea;
}

.footer {
  background-color: #2a2828;
  color: #e6e2df;
  padding: 20px;
}
.footer__img {
  width: 200px;
}
.footer__icons {
  font-size: 25px;
  padding: 10px;
}
.footer__icons i {
  color: #e6e2df;
}
.footer__icons i:hover {
  color: #ec75cf;
}
.footer__form label {
  font-size: 1.2rem;
  text-align: center;
}
.footer__form input {
  width: 80%;
  color: #e6e2df;
  background: transparent;
  border: none;
  border-bottom: 1px solid #c097ea;
}
.footer__form input:focus {
  outline: none;
}

.btn__tarjeta {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: #2b2b2b;
  color: #e6e2df;
}
.btn__tarjeta:hover {
  color: #ec75cf;
}
.btn__nosotros {
  background-color: #2a2828;
  color: #e6e2df;
  padding: 10px;
}
.btn__nosotros:hover {
  color: #ec75cf;
}
.btn__form {
  background-color: #2a2828;
  color: #e6e2df;
}
.btn__form:hover {
  color: #ec75cf;
}
.btn__footer {
  width: 40%;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #c097ea;
  color: #e6e2df;
}
.btn__footer:hover {
  background-color: #ec75cf;
}

.tarjeta {
  width: 320px;
  height: 520px;
}
.tarjeta__img {
  width: 100%;
  height: 300px;
}
.tarjeta__title {
  text-align: center;
}
.tarjeta__tipo {
  margin-bottom: 10px;
}
.tarjeta__tipo a {
  padding: 5px;
  margin: 7px;
  border: 1px solid #2a2828;
  color: #2a2828;
}
.tarjeta__tipo a:hover {
  background-color: #2a2828;
  color: #ec75cf;
}

.hero {
  background-image: url(../../assets/img/hero-sm.jpg);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 576px) {
  .hero {
    background-image: url(../../assets/img/hero-md.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: url(../../assets/img/hero-lg.jpg);
  }
}

.hero__container {
  height: 50%;
}

.gift {
  height: 48px;
  margin-top: 18px;
  background-color: #ec75cf;
  overflow: hidden;
}
.gift img {
  height: 90%;
}
@media (min-width: 992px) {
  .gift img {
    width: 100%;
  }
}

.nosotros {
  background-color: #c097ea;
}
.nosotros__img {
  width: 250px;
  height: 350px;
}
@media (min-width: 768px) {
  .nosotros__img {
    width: 380px;
    height: 520px;
  }
}
@media (min-width: 992px) {
  .nosotros__img {
    width: 380px;
    height: 700px;
  }
}

.about__img {
  width: 400px;
  height: 500px;
}

.abouta__fluid {
  background-color: #e6e2df;
}

.aboutb__fluid {
  height: 400px;
}

.about__two {
  background-color: #2a2828;
  color: #e6e2df;
}

.contact {
  padding: 100px 0px 50px 0px;
}
.contact__icons {
  font-size: 30px;
  padding-top: 10px;
}
.contact__icons i {
  color: #2b2b2b;
}
.contact__icons i:hover {
  color: #ec75cf;
}

.form__estilos {
  border-bottom: 2px solid #2b2b2b;
}
.form__estilos input {
  border: none;
  background: transparent;
}
.form__estilos input:focus {
  outline: none;
}
.form__estilos textarea {
  border: none;
  background: transparent;
}
.form__estilos textarea:focus {
  outline: none;
}

.span__promo {
  background-color: #ec75cf;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
