a{
    text-decoration: none;
}

/* ----Barra de Navegacion---- */

.bi-list{
    color: white;
    font-size: 1.5rem;
}
.bi-bag-heart{
    font-size: 1.5rem;
    padding-left: 1.5rem;
    color: white;
}

.navbar{
    --bs-navbar-padding-y: 0.5rem;
    background-color: #1b1c1e;
}

.border-bottom{
    --bs-border-color:rgb(236, 117, 207);
    --bs-border-width:3px;
}

.navbar-toggler{
    color: transparent;
}

.nav__img{
    height: 3rem;
    width: 3rem;
    padding: 0;
    margin: 0;
    border: 0;
}

.nav-link{
    --bs-nav-link-color: white;
    --bs-navbar-active-color:rgb(236, 117, 207);
}

.active{
    border-bottom: 1px solid rgb(236, 117, 207) ;
}

.nav-link:hover{
    color: rgb(236, 117, 207);
}


/* ----Seccion Hero/Index---- */

.hero{
    background-image: url(../assets/img/hero2.jpg);
    height: 83vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.gift{
    background-color: rgb(230, 147, 247);
    overflow: hidden;
}

@media (min-width: 992px) {
    .gift img{
        width: 100%;
    }
}

.tarjeta{
    background-color: rgb(243, 199, 245);

}

.nosotros__index{
    background-color: rgb(230, 147, 247);
}
