a{
    text-decoration: none;
}

hr{
    color: white;
}
/* ----Barra de Navegacion---- */

.bi-list{
    font-size: 32px;
    color: white;
}
.bi-bag-heart{
    font-size: 28.8px;
    padding-left: 35.2px;
}

.nav__bag{
    color: white;
}

.nav__bag:hover{
    color: rgb(236, 117, 207);
}

.navbar{
    --bs-navbar-padding-y: 8px;
    background-color: #2b2b2b;
}

.border-bottom{
    --bs-border-color:rgb(236, 117, 207);
    --bs-border-width:3px;
}

.navbar-toggler{
    border: none;
}

.nav__img{
    height: 64px;
    width: 64px;
    padding: 0;
    margin: 0;
    border: 0;
}

.nav-link{
    --bs-nav-link-color: white;
    --bs-navbar-active-color:rgb(236, 117, 207);
}

.active{
    border-bottom: 1px solid rgb(236, 117, 207) ;
}

.nav-link:hover{
    color: rgb(236, 117, 207);
}

/* ----Footer---- */

.footer__container{
    background-color: #2b2b2b;
    color: white;
    padding: 20px;

}

.footer__img {
    width: 280px;
}

.footer__icons{
    font-size: 30px;
    padding-top: 10px;
}

.footer__icons i{
    color: white;
}

.footer__icons i:hover{
    color: rgb(236, 117, 207) ;
}

.footer__form button{
    width: 40%;
    background-color: transparent;
    border: 1px solid rgb(236, 117, 207);
    color: white;

}

.footer__form button:hover{
    background-color: rgb(236, 117, 207);

    
}

.footer__form label{
    font-size: 1.2rem;
    text-align: center;
}

.footer__form input{
    width: 80%;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(236, 117, 207);
}

.footer__form input:focus{
    outline: none;
}

/* ----Seccion Hero/Index---- */

.hero{
    background-image: url(../assets/img/hero2.jpg);
    height: 83vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.gift{
    background-color: rgb(230, 147, 247);
    overflow: hidden;
}

@media (min-width: 992px) {
    .gift img{
        width: 100%;
    }
}

.tarjeta{
    background-color: rgb(243, 199, 245);

}

.nosotros__index{
    background-color: rgb(230, 147, 247);
}
