//Seccion Nosotros/about
.about{

    &__img{
        width: 400px;
        height: 500px;
    }
    
}


.abouta__fluid{
    background-color: $color-light;

}

.aboutb__fluid{
    height: 400px;
}

.about__two{
    background-color: $color-dark;
    color: $color-light;
}