.hero__one{
    background-image: url(../assets/img/tarjeta_b.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__container{
    height: 50%;
}

.gift{
    background-color: rgb(236, 117, 207);
    overflow: hidden;
}

@media (min-width: 992px) {
    .gift img{
        width: 100%;
    }
}

.nosotros__index{
    background-color: rgb(236, 117, 207);
}

.nosotros__img{
    width: 250px;
    height: 350px;
}

@media (min-width: 768px){
    .nosotros__img{
        width: 380px;
        height: 520px;
    }
}

@media (min-width:992px){
    .nosotros__img{
        width: 380px;
        height: 700px;
    }
}

.nosotros__btn{
    background-color: #2b2b2b;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.nosotros__btn:hover{
    color: rgb(236, 117, 207);
}