//Seccion gift/index

.hero{
    background-image: url(../../assets/img/hero_img.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__container{
    height: 50%;
}

// Seccion gift/index

.gift{
    height: 48px;
    margin-top: 18px;
    background-color:$color-acento;
    overflow: hidden;
    img {
        height: 90%;
        @include media-lg{
            width: 100%;
        }
    }
}

//Seccion Nosotros/index

.nosotros{
    background-color: $color-components;
    &__img{
        width: 250px;
        height: 350px;
        @include media-md{
            width: 380px;
            height: 520px;
        }
        @include media-lg{
            width: 380px;
            height: 700px;
        }
    }
}
