.footer__container{
    background-color: #2b2b2b;
    color: white;
    padding: 20px;

}

.footer__img {
    width: 280px;
}

.footer__icons{
    font-size: 30px;
    padding-top: 10px;
}

.footer__icons i{
    color: white;
}

.footer__icons i:hover{
    color: rgb(236, 117, 207) ;
}

.footer__form button{
    width: 40%;
    background-color: transparent;
    border: 1px solid rgb(236, 117, 207);
    color: white;

}

.footer__form button:hover{
    background-color: rgb(236, 117, 207);

    
}

.footer__form label{
    font-size: 1.2rem;
    text-align: center;
}

.footer__form input{
    width: 80%;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(236, 117, 207);
}

.footer__form input:focus{
    outline: none;
}