.footer{
    background-color:$color-dark;
    color: $color-light;
    padding: 20px;

    &__img{
        width: 200px;
    }

    &__icons{
        font-size: 25px;
        padding: 10px;
        & i{
            color:$color-light;
            &:hover{
                color:$color-acento ;
            }
        }
    }

    &__form{

        & label{
            font-size: 1.2rem;
            text-align: center;
        }

        & input{
            width: 80%;
            color: $color-light;
            background: transparent;
            border: none;
            border-bottom: 1px solid $color-components;
            &:focus{
                outline: none;
            }
        }
    }
}
