.bi-list{
    font-size: 32px;
    color: $color-light;
}
.bi-bag-heart{
    font-size: 28.8px;
    padding-left: 35.2px;
}

.nav__bag{
    color:$color-light;
}

.nav__bag:hover{
    color:$color-components;
}

.navbar{
    --bs-navbar-padding-y: 8px;
    background-color:$color-dark;
}

.border-bottom{
    --bs-border-color:#c097ea;
    --bs-border-width:3px;
}

.navbar-toggler{
    border: none;
}

.nav__img{
    height: 64px;
    width: 64px;
    padding: 0;
    margin: 0;
    border: 0;
}

.nav-link{
    --bs-nav-link-color: #e6e2df;
    --bs-navbar-active-color:#c097ea;
}

.active{
    border-bottom: 1px solid $color-components ;
}

.nav-link:hover{
    color: $color-components;
}