.btn{
    color: $color-light;
    background-color: $color-dark;
    text-align: center;
    padding: 7px;
    font-family: 'poppins', Courier, monospace;
    font-size: 0.8rem;

    &__tarjeta{
        @extend .btn;
        width: 100%;
        &:hover{
            color: $color-acento;
        }
    }
    

    &__nosotros{
        @extend .btn;
        &:hover{
            color: $color-acento;
        }
    }

    &__form{
        @extend .btn;
        &:hover{
            color: $color-acento;
        }
    }

    &__footer{
        @extend .btn;
        width: 40%;
        margin-bottom: 10px;
        background-color: transparent;
        border: 1px solid $color-components;
        &:hover{
            background-color: $color-acento;
        }
    }
}
