.btn{

    &__tarjeta{
        text-align: center;
        width: 100%;
        padding: 10px;
        background-color: #2b2b2b;
        color: $color-light;
        &:hover{
            color: $color-acento;
        }
    }
    

    &__nosotros{
        background-color: $color-dark;
        color: $color-light;
        padding: 10px;
        &:hover{
            color: $color-acento;
        }
    }

    &__form{
        background-color: $color-dark;
        color: $color-light;
        &:hover{
            color: $color-acento;
        }
    }

    &__footer{
        width: 40%;
        margin-bottom: 10px;
        background-color: transparent;
        border: 1px solid $color-components;
        color: $color-light;
        &:hover{
            background-color: $color-acento;
        }
    }
}
