.tarjeta{
    width: 320px;
    height: 520px;
    &__img{
        width: 100%;
        height: 300px;
    }
    &__title{
        text-align: center;
    }
    &__tipo{
        margin-bottom: 10px;
    }
    &__tipo a{
        padding: 5px;
        margin: 7px;
        border: 1px solid $color-dark;
        color: $color-dark;
    }
    &__tipo a:hover{
        background-color: $color-dark;
        color:$color-acento;
    }
}