h1 {
    font-family: $font-titulos;
    font-size: 4.5rem;
}
h2 {
    font-family: $font-subtitulos; 
    font-size: 2rem;
}
p {
    font-family: $font-parrafos;
    font-size: 1rem;
}
h3 {
    font-family:$font-titulosh;
    font-size: 2rem;
}
span {
    font-family:$font-span;
    font-size: 0.8rem;
}